<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/aboutUsStyle.css">
</head>
<body>
    <div id="header"></div> <!-- This will hold the header -->
    <div class="img-div">
        <div class="img1-div">
            <img src="/static/aakash.png" alt="Aakash Dasgaonkar" id="img1">
        </div>

        <span id="first-text">Aakash Dasgaonkar</span>

        <div class="img2-div">
            <img src="/static/harish.png" alt="Harish Kolapate" id="img2">
        </div>

        <span id="second-text">Harish Kolapate</span>

        <div class="img3-div">
            <img src="/static/sumit.png" alt="Sumit Salve" id="img3">
        </div>

        <span id="third-text">Sumit Salve</span>

        <div class="img4-div">
            <img src="/static/shera-bhai.png" alt="Rahul Kasture 21-22" id="img4">
        </div>

        <span id="fourth-text">Rahul Kasture</span>
    </div>

    <span id="developer">Developed By - Hrishikesh Rajbhar</span>

    <script src="/static/script.js"></script>
</body>
</html>