<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header"></div> <!-- This will hold the header -->


    <div class="container">
        
        <div class="head-div">
            <!-- <h1 id="heading">Click below to check the readings</h1> -->
            <h1 id="heading">Know Your Crops, Grow Them Better.</h1>
        </div>
        <a href="/readings"><button>Get Readings</button></a>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>