<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readings</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/readingStyle.css">
    <script src="https://kit.fontawesome.com/1dce73a680.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="header"></div> <!-- This will hold the header -->

    <div class="container">
        <div class="connect-div">
            <i id="circle" class="fa-solid fa-circle"></i>
            <span id="connection">Trying to Connect</span>
        </div>
        <!-- <div id="read-head-div">
            <h1 id="reading-heading">The readings are as follows...</h1>
        </div> -->

        <div class="reading-div">
            <h3>Moisture in the Soil : <span id="moisture-value"></span></h3>
            <h3>Temperature of the Environment : <span id="temperature-value"></span></h3>
            <h3>Humidity in the Environment : <span id="humidity-value"></span></h3>
            <h3>Water remaining in the tank : <span id="water-value"></span></h3>
            <h3>Water Pump : <span id="pump-status"></span></h3>
            <h3>Rain Status : <span id="rain-status"></span></h3>

            <h3 id="man-config-head">Manual Motor Control (ON/OFF) :<br>
                
                <div class="toggle-wrapper">
                    <input class="toggle-checkbox" type="checkbox" id="myCheckbox" value="on">
                    <div class="toggle-container">  
                    <div class="toggle-button">
                        <div class="toggle-button-circles-container">
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        </div>
                    </div>
                    </div>
                </div>
            </h3>
            <!-- <button id="man" onclick="getRelayValue()">Check Value</button> -->
        </div>
    </div>
    
    <script src="/static/script.js"></script>
    <script src="/static/readings.js"></script>
</body>
</html>